@model YourRide.Models.Voznja

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Voznja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Putnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Putnik.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vozac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vozac.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruta.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrijemePocetka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrijemePocetka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrijemeZavrsetka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrijemeZavrsetka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cijena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
