@model IEnumerable<YourRide.Models.Voznja>

@{
    ViewData["Title"] = "Lista";
}

<h1>@ViewData["Title"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Putnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vozac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ruta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijemePocetka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijemeZavrsetka)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Putnik.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vozac.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ruta.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemePocetka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemeZavrsetka)
            </td>
            
            <td>
                    @if (User.IsInRole("Nepostojeci"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>

                    }

                    <a asp-action="Details" style="color: #2d7c85;" asp-route-id="@item.ID">Detalji</a>
            </td>
        </tr>
}
    </tbody>
</table>
