@model IEnumerable<YourRide.Models.Lokacija>

@{
    ViewData["Title"] = "Lista";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" style="color: #2d7c85;">Kreiraj novu lokaciju</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latituda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longituda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Grad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latituda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longituda)
                </td>
                <td>
                    <a asp-action="Edit" style="color: #2d7c85;" asp-route-id="@item.ID">Uredi</a> |
                    <a asp-action="Details" style="color: #2d7c85;" asp-route-id="@item.ID">Detalji</a> |
                    <a asp-action="Delete" style="color: #2d7c85;" asp-route-id="@item.ID">Izbriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
