@model IEnumerable<YourRide.Models.Notifikacija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.poruka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijemeSlanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posiljalac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Primalac)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.poruka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemeSlanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posiljalac.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Primalac.Id)
            </td>
            <td>
                    @if (User.IsInRole("Administrator,Putnik,Vozac")){
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    }
                
            </td>
        </tr>
}
    </tbody>
</table>
