@model IEnumerable<YourRide.Models.Ruta>

@{
    ViewData["Title"] = "Lista";
}

<h1>@ViewData["Title"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PocetnaLokacija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KrajnjaLokacija)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PocetnaLokacija.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KrajnjaLokacija.ID)
            </td>
            <td>
    @if (User.IsInRole("Nepostojeci")){
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                
    }

                    <a asp-action="Details" style="color: #2d7c85;" asp-route-id="@item.ID">Detalji</a>
            </td>
        </tr>
}
    </tbody>
</table>
